/* @override http://twitsort.dev/css/style.css */


ul {
	width:100%;
  	margin-left: 0px;
  	overflow: auto;
}

li a {
  color: #909090;
}

li a:hover {
  color: #535353;
}

p.message-results {
  text-align: center;
}

div.options {
  text-align: center;
}

ul li {
  float: left;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;

  width:90%;
}


div.roundbox {
    background-color:#fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:#444;
    padding:10px;
    text-align:center;
}


.logo{
    float:left;
    width:150px;
}

.subhead {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.subhead h1 {
	font-size:54px;
}

.tweet {
	float:left;
	width: 100%;
	background-color:#eee;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:#444;
    padding:10px;
    text-align:left;
	margin-bottom: 10px;
	font-size: large;
}

.tweet img {
	float: left;
  padding : 5px;
}

.tweet_text {
	color: black;
}
.tweet a {
	color: orange;
	height: 30px;
	font-size:24px;
}