.subhead {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.subhead h1 {
	font-size:54px;
}

ul {
	width:100%;
  margin-left: 0;
  overflow: auto;
  list-style: none;
}

ul li {
  float: left;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;

  width:90%;
}

div.roundbox {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    padding:10px;
}




.tweet {
	float:left;
	width: 100%;
	background-color:#F5F5F5;
  -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:#E5644C;
    padding:10px;
    text-align:left;
	margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  border: solid 1px silver;
}

.tweet img {
	float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.tweet_data {
  float: left;
}

.tweet_text {
  padding: 10px;
  font-weight: lighter;
	color: black;
}

.author {
  padding-top: 15px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.tweet a {
	color: #58B5CC;
  font-size: 14px;
  float: left;
  padding-right: 10px;
}

.tweet_time {
  color: #58B5CC;
  font-size: 14px;
  float: left;
}

.logo {
  float:left;
 	width: 100%;
 	background-color:#F5F5F5;
   -moz-border-radius:6px;
     -webkit-border-radius:6px;
     border-radius:6px;
     color:#E5644C;
     text-align:left;
  	margin-bottom: 10px;
   font-size: 14px;
   line-height: 16px;
  border: solid 1px silver;
}

.logo img{
    float:left;
  padding-right: 10px;
}

.logo div.author {
  font-size: 18px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo a {
	color: #58B5CC;
  font-size: 14px;
  float: left;
  padding-right: 10px;
}
